body{
  display:block;
  position:relative;
  margin:10px;
  padding:50px;
  background-image: url(microfon.png);
  background-position: top;
  background-repeat: repeat;
}

#wrap{
  display:block;
  position:relative;
  text-align: center;
  width:50vw;
  margin:0 auto;
}

h1{
  display:inline-block;
  position:left;
  list-style-position: inside;
  left: 10px;
  width: 382px;
  height: 196px;
  margin:10px 10px auto;
  text-align:center;
  background-image: url(rac1.jpg);
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  border:60px;
  border-color: black;
  border-radius: 10px;
  box-shadow: 10px 8px 3px;
}
#right1{
display:inline-block;
position:absolute;
left: 870px;
width: 382px;
height: 196px;
margin:10px 10px auto;
text-align:center;
text-align-last: center;
background-color: grey;
background-image: url(nohose.jpg);
background-position:top;
background-size:cover;
background-repeat: no-repeat;
border:60px;
border-color: black;
border-radius: 10px;
box-shadow: 10px 8px 3px;
}
#rightdown2{
display:inline-block;
position:absolute;
top: 570px;
left: 870px;
width: 382px;
height: 196px;
margin:10px 10px auto;
text-align:center;
text-align-last: center;
background-image: url(jordi.jpg);
background-position:top;
background-size:cover;
background-repeat: no-repeat;
border:60px;
border-color: black;
border-radius: 10px;
box-shadow: 10px 8px 3px;
}
#down2{
display:inline-block;
position:absolute;
top: 570px;
left: 50px;
width: 382px;
height: 196px;
margin:10px 10px auto;
text-align:center;
text-align-last: center;
background-image: url(avuidia.jpg);
background-position:top;
background-size:cover;
background-repeat: no-repeat;
border:60px;
border-color: black;
border-radius: 10px;
box-shadow: 10px 8px 3px;
}
#right3{
display:inline-block;
position:absolute;
left: 870px;
width: 382px;
height: 196px;
margin:10px 10px auto;
text-align:center;
text-align-last: center;
background-color: grey;
background-image: url(nohose.jpg);
background-position:top;
background-size:cover;
background-repeat: no-repeat;
border:60px;
border-color: black;
border-radius: 10px;
box-shadow: 10px 8px 3px;
}
#rightdown4{
display:inline-block;
position:absolute;
top: 570px;
left: 870px;
width: 382px;
height: 196px;
margin:10px 10px auto;
text-align:center;
text-align-last: center;
background-image: url(jordi.jpg);
background-position:top;
background-size:cover;
background-repeat: no-repeat;
border:60px;
border-color: black;
border-radius: 10px;
box-shadow: 10px 8px 3px;
}
#down3{
display:inline-block;
position:absolute;
top: 1100px;
left: 50px;
width: 382px;
height: 196px;
margin:10px 10px auto;
text-align:center;
text-align-last: center;
background-image: url(liders.jpg);
background-position:top;
background-size:cover;
background-repeat: no-repeat;
border:60px;
border-color: black;
border-radius: 10px;
box-shadow: 10px 8px 3px;
}
#right4{
display:inline-block;
position:absolute;
top: 1600px;
left: 50px;
width: 382px;
height: 196px;
margin:10px 10px auto;
text-align:center;
text-align-last: center;
background-image: url(popitas.jpg);
background-position:top;
background-size:cover;
background-repeat: no-repeat;
border:60px;
border-color: black;
border-radius: 10px;
box-shadow: 10px 8px 3px;
}
#rightdown5{
display:inline-block;
position:absolute;
top: 1100px;
left: 870px;
width: 382px;
height: 196px;
margin:10px 10px auto;
text-align:center;
text-align-last: center;
background-color: grey;
background-image: url(coscubiela.jpg);
background-position:top;
background-size:cover;
background-repeat: no-repeat;
border:60px;
border-color: black;
border-radius: 10px;
box-shadow: 10px 8px 3px;
}
#down5{
display:inline-block;
position:absolute;
top: 1600px;
left: 870px;
width: 382px;
height: 196px;
margin:10px 10px auto;
text-align:center;
text-align-last: center;
background-image: url(puigdemont.jpg);
background-position:top;
background-size:cover;
background-repeat: no-repeat;
border:60px;
border-color: black;
border-radius: 10px;
box-shadow: 10px 8px 3px;
}
h2, p, h3{

color: darkgreen;

}
h2{
  text-decoration: underline;
  text-shadow: 3px 3px 2px;

}
h2:hover{
cursor: pointer;
text-transform: uppercase;
color: darkblue;
}
